@using SigaDocIntegracao.Web.ViewModels
@model ListarExModeloEmailParamPaginadoViewModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<h1>Cadastro de notificação por Modelo</h1>

<div class="inbox-body" style="margin-top:20px;">
    <div class="mail-option">

        <div class="d-flex justify-content-between align-items-center">
            <div class="form-group" style="flex: 1;">
                <label for="searchInput" class="fw-bold">Pesquisar:</label>
                <input type="text" id="searchInput" placeholder="Buscar por nome ou e-mail" onkeyup="filter()" class="form-control form-control-sm" style="margin-bottom: 10px; width: 300px;">
            </div>
            <a asp-action="Create" style="background-color: green; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">
                Novo
            </a>
        </div>

        <div>
            <button type="button" class="btn btn-primary" onclick="clearSearch()">
                Limpar
            </button>
        </div>

        <div id="contentContainer">
            @await Html.PartialAsync("_TabelaEmailPartial.cshtml", Model)
        </div>

    </div>
</div>


<script>
    function filter() {
        var url = `/ExModeloEmailParamModels/IndexFilter?pageIndex=${currentPage}`;

        var input = document.getElementById("searchInput").value;

        if (input && input.length >= 3) {
            url += `&query=${input}`
        } else if (input && input.length <= 3) {
            return;
        }

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'text/html'
            }
        })
            .then(response => response.text())
            .then(data => {
                document.getElementById("contentContainer").innerHTML = data;
            })
            .catch(error => console.error('Erro:', error));
    }

    function clearSearch() {
        currentPage = 0;
        status = null;

        fetch(`/ExModeloEmailParamModels/IndexFilter?pageIndex=${currentPage}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'text/html'
            }
        })
            .then(response => response.text())
            .then(data => {
                document.getElementById("contentContainer").innerHTML = data;
                document.getElementById("searchInput").value = '';
            })
            .catch(error => console.error('Erro:', error));
    }

    function changePage(pageIndex) {
        currentPage = pageIndex;
        get();
    }

    function get() {
        var input = document.getElementById("searchInput").value;

        var url = `/ExModeloEmailParamModels/IndexFilter?pageIndex=${currentPage}`;

        if (input && input.length >= 3) {
            url += `&query=${input}`
        } else if (input && input.length <= 3) {
            return;
        }

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'text/html'
            }
        })
            .then(response => response.text())
            .then(data => {
                document.getElementById("contentContainer").innerHTML = data;
            })
            .catch(error => console.error('Erro:', error));
    }

    let currentPage = 0;
    let status = null;
</script>